<!DOCTYPE html>
<html>
<head>
  <title>Good Hoods</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'mobile', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD_eIPqecaX6jL9uLjueQD1DCBIG226UDU"></script>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6F79FbnrSc9hZlurECTyBJoEyHCj-Nc"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<style type="text/css">
  body {
    /*color: #ffffff;*/
    }
  input {
    color: #fff;
    border-radius: 5px;
    border: 0;
    height: 100px; 
    background-color: rgba(35, 117, 34, .7);
    margin: 2px;
    width: 300px;
    padding: 5px;
    font-size: 45px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    }

  input::-webkit-input-placeholder {
     color: white;
  }

  .override {
    color: white;
    width: 70px;
  }
  
  a {
    color: rgba(35, 117, 34, .8);
  }
  
  a:hover {
    color: rgba(35, 117, 34, .5);
    background-color: rgba(35, 117, 34, .5);
    padding: 3px;
    text-decoration: none;
    border-radius: 10px;
  }

  .my-button1 {
    margin-top: -2px;
    border-radius: 5px;
    /*opacity: 0;*/
   /* background-color: rgba(255, 102, 102, 0.0);
    border: 1px solid rgba(255, 102, 102, 0.9);*/
  }
  .my-button1:hover {
    margin-top: -2px;
    border-radius: 5px;
      background-color: rgba(35, 117, 34, 1);
    /*opacity: 0;*/
   /* background-color: rgba(255, 102, 102, 0.0);
    border: 1px solid rgba(255, 102, 102, 0.9);*/
  }

  .my-input {
     background-color: rgba(35, 117, 34, .5);
     border: 1px solid rgba(35, 117, 34, .8);
  }











  /*ALERTS*/


  .my_notice {
    border-radius: 0px;
    border: 0px;
    background-color: rgba(255, 102, 102, 1);
    color: white;
  }
  .my_alert {
    background-color: rgba(255, 102, 102, 1);
    color: white;
    border: 0px;
  }

</style>

</head>

<body class = "container-fluid text-center">

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning my_notice" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger my_alert" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<%= yield %>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE6F79FbnrSc9hZlurECTyBJoEyHCj-Nc"></script> -->

</body>
</html>